nav ul{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li{
    list-style: none;
    
}
nav ul li a{
    color: black;
    text-decoration:none;
}
nav ul li a:hover{
    text-decoration: underline;
    text-decoration-color: rgba(31, 99, 215, 0.881);
    text-decoration-thickness: 5px;


    
}
hr{
    width: 80%;
}